
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container {
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

#left {
  width: 45%;
  float:left;
}

#right {
  width: 45%;
  float:left;
  background-color: #D4EE9F;
  min-height: 475px;
}

#wrapper {
  width:252px;
  height:410px;
  margin:0 auto 0 auto;
  padding:24px 0 0 0;
  background:#fff;
}


.key {
  border-radius: 50px 50px 50px 50px;
  color:#444;
  width:70px;
  height:70px;
  text-align:center;
  font-size:30px;
  float:left;
  box-sizing:border-box;
  padding:5px 0 0 0;
  margin:0 7px 10px 7px;
  border:1px solid #444;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.key span {
  display:block;
  color:#444;
  text-align:center;
  font-size:12px;
  text-transform:uppercase;
}

.key.special {
  line-height:60px;
}

.key.nb {
  border:none;
}

.key.phone {
  background:#5CDB74;
  border:none;
  color:#FFF;
  line-height:60px;
  font-size:40px;
}

.key.hangup {
  background:#FF3B30;
  border:none;
  color:#FFF;
  line-height:60px;
  font-size:40px;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.clear {
  clear:both;
}

#status {
  padding: 0.5rem;
  background-color: #7A9F35;
  color: #FFFFFF;
}

#conferenceCode {
  padding: 0.5rem;
  background-color: #669999;
  color: #FFFFFF;
}

/* Landscape phones and down */
@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
	#wrapper {
		display:none;
	}

	#status:after {
		content: "Softphone not supported on this device";
	}

	#callbyphonewrapper {
		padding: 0.5rem;
		font-size: 2rem;
	}

	.callbyphone {
		font-size: 2.5rem;
	}
}
