<?php
$protocol = (isset($_SERVER['HTTPS'])) ? 'https' : 'http';
$url = "{$protocol}://{$_SERVER['HTTP_HOST']}";
$url .= str_replace(array('simple-conference.php', basename(__FILE__)), '',  $_SERVER['PHP_SELF']);


return [
	'accountSid' => '{{ACCOUNTSID}}',
	'authToken' => '{{AUTHTOKEN}}',
	'appSid' => '{{APPSID}}',
    'numbers' => [
            'GB' => 'Get a number from Twilio',
    ],
    'sounds' => [
            'wait' => [ 'local' => 'sounds/wait.wav', 'remote' => "{$url}/sounds/wait.wav" ],
            'joining' => [ 'local' => 'sounds/joining-dont-play.wav', 'remote' => "{$url}/sounds/joining-dont-play.wav" ],
            'welcome' => [ 'local' => 'sounds/professional/welcome-mciof.wav', 'remote' => "{$url}/sounds/professional/welcome-mciof.wav" ],
            'enterPin' => [ 'local' => 'sounds/professional/enter-pin.wav', 'remote' => "{$url}/sounds/professional/enter-pin.wav" ],
            'invalidPin' => [ 'local' => 'sounds/professional/invalid-pin.wav', 'remote' => "{$url}/sounds/professional/invalid-pin.wav" ],
    ]
];
